<div class="root">
    <!-- columns HTML -->

    <div class="board">
        <div class="board-wrapper" dkDropListGroup >

            <div class="board-columns" *ngFor="let environmentGroup of environments"> 
                <div class="board-column">

                    <div class="column-title">
                        {{environmentGroup.description}}
                    </div>
                    <div class="task-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListData]="environmentGroup">

                        <div class="task" *ngFor="let environment of environmentGroup.environments" cdkDrag [cdkDragData]="environments" >
                            {{environment.title}}
                            {{environment.name}}
                            <a class="button is-small button is-primary is-inverted" [routerLink]="">edit</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
