<div class="root">
    <!-- columns HTML -->

    <div class="board">
        <div class="board-wrapper" cdkDropListGroup >

            <div class="board-columns" *ngFor="let environmentGroup of environments"> 
                <div class="board-column">

                    <div class="column-title">
                        {{environmentGroup.description}}
                    </div>
                    <div class="task-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListData]="environmentGroup">

                        <div class="task" *ngFor="let environment of environmentGroup.environments" cdkDrag [cdkDragData]="environment" >
                            <div class="title">{{environment.title}}</div>

                            <div class="name">{{environment.name}}</div>
                            
                            <a class="button is-small button is-primary is-inverted" [routerLink]="['/Environments' , 'edit' , environment.id]">edit</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
